<div class="mt-4 p-5 bg-secondary text-white rounded">
    <form (ngSubmit)="buscarImagenes()">
        <div class="row">
            <div class="col-lg-8">
                <input type="text" class="form-control form-control-lg" [(ngModel)]="nombreImagen" placeholder="Buscar Imagen" name="imagen">
            </div>
            <div class="col-lg-4">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Buscar</button>
            </div>
        </div>
    </form>
</div>